einops
click
lightning
git+https://github.com/ppoitier/sign-language-tools@dev
torch
torchmetrics
torchvision
lightning
pytorch-metric-learning
scikit-learn
tensorboard
tqdm
webdataset
pytorch_metric_learning
pydantic